.logoContainer {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.logoImage {
  width: 150px;
  height: 55px;
  object-fit: contain;
  display: block;
}

@media (max-width: 768px) {
  .logoContainer {
    margin-right: 8px;
  }

  .logoImage {
    width: 40px;
    height: 40px;
  }
}




